.slider-container-circle{
    background: rgb(122, 255, 222);
    display: flex;
    width: 400px; 
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circle-container{
    background-image: url('https://www.hoopperu.org/wp-content/uploads/2021/03/educacion-scaled.jpg');
    background-color: #5b7ba8;
    /* Set a specified height */ 
    /* Center the image */
    background-position: center;
    /* Do not repeat the image */
    background-repeat: no-repeat;
    /* Resize the background image to cover the entire container */
    background-size: cover;
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 100%;
}
.circle-content{
    transition:height .5s ease-out 1s;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.80);
}
.circle-content p{
    text-align: center;
}
.circle-content-hidden{
    transition:height .5s ease-out 1s;
    display: none;
}
.circle-container:hover{
    transform: scale(1.1);
}

